/* Start Global Ruels */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (max-width: 991) {
  .container {
    width: 970px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 95%;
  }
}

/* End Global Ruels */
/* Start Vars */
:root {
  --purple-clr: #2500f9;
  --greyish-blue-clr: #242f51;
  --light-clr: #e1eaed;
  --orange-clr: #fda925;
  --dark-grey-clr: #616368;
  --red-color: #f55767;
  --blue-color: #2563ff;
  --green-color: #40975f;
  --main-transition: 350ms;
}
/* End Vars */

/* Start Components */

.btn {
  font-size: 1rem;
  color: var(--purple-clr);
  display: inline-block;

  transition: var(--main-transition);
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;
  z-index: 10;
}
.btn-filled {
  color: white;
  background-color: var(--purple-clr);
  border-radius: 20px;
}

/* End Components */
/* Start Header */
header {
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .brand {
  width: fit-content;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  display: flex;

  align-items: center;
}
header ul {
  display: flex;
  align-items: center;
}
header ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  font-size: 1rem;
  color: #242f51;
  font-weight: 500;
  /* border-bottom: 2px solid transparent; */
  transition: --main-transition;
}
header ul a:hover {
  /* border-bottom: 2px solid var(--greyish-blue-clr); */
}
header a.btn {
  margin-right: 40px;
}
/* End Header */
/* Start Hero */
.hero {
  position: relative;
  min-height: calc(100vh - 70px);
  padding-top: 50px;
  background-color: #f9fafc;
}
.shapes-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  z-index: -1;
}
.shapes-2 {
  position: absolute;
  top: 0;
  width: auto;
  height: 100%;
  right: 0;
  z-index: -1;
}
.hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(/images/hero_bottom.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  width: 100%;
  height: 150px;
}
.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.hero .container .text {
}
.hero .container h2 {
  font-size: 60px;
  color: #242f51;
  font-weight: 700;
  line-height: 1.5;
}
.hero .container p {
  font-size: 1rem;
  line-height: 1.7;
  max-width: 60ch;
  color: #616368;
  margin-bottom: 40px;
}
.hero .container .editor-choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e1eaed;
  width: fit-content;
  padding: 5px 40px;
  border-radius: 20px;
  position: relative;
  margin-bottom: 24px;
}
.hero .container .editor-choice span {
  font-size: 1rem;
}
.hero .container .editor-choice img {
  position: absolute;
  left: 0;
  background-color: var(--orange-clr);
  border-radius: 20px;
  border: 8px solid var(--orange-clr);
  width: 32px;
}
.hero .container .image {
}
.hero .container .image img {
  max-width: 100%;
}

/* End Hero */
/* Start Key Features */

.key-features {
  padding: 50px 0;
  border-bottom: 2px solid var(--dark-grey-clr);
}
.trusted-by {
  text-align: center;
  margin-bottom: 100px;
}
.trusted-by p {
  color: var(--greyish-blue-clr);
  margin-bottom: 50px;
}
.trusted-by .wraper {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.key-features .features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 10px 20px;
}
.key-features .app-img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.key-features .app-img {
  max-width: 100%;
}
.key-features .features-info {
  grid-column: 2/3;
  grid-row: 1/2;
}
.key-features .features-info h3 {
  font-size: 36px;
  color: var(--greyish-blue-clr);
  line-height: 1.3;
}
.key-features .features-info p {
  margin-top: 15px;
  line-height: 1.6;
  max-width: 43ch;
  color: #616368;
}
.key-features .features-keys {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-bottom: 30px;
}
.key-features .features-keys .box {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.key-features .features-keys .box figure {
  margin-right: 30px;

  padding: 15px;
  border-radius: 50%;
}
.key-features .features-keys .box figure img {
  max-width: 100%;
  width: 58px;
}
.key-features .features-keys .box .text {
}
.key-features .features-keys .box .text h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 700;
}
.key-features .features-keys .box .text p {
  color: #616368;
}
.key-features .performance figure {
  background-color: #ffebef;
}

.key-features .performance h3 {
  color: var(--red-color);
}
.key-features .prototyping figure {
  background-color: #f3f3ff;
}
.key-features .prototyping h3 {
  color: var(--blue-color);
}
.key-features .vector figure {
  background-color: #e3ffed;
}
.key-features .vector h3 {
  color: var(--green-color);
}

.key-features .smart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.key-features .smart h3 {
  display: block;
  font-size: 40px;
  color: #242f51;
  max-width: 17ch;
}
.key-features .smart .separator {
  width: 2px;
  background-color: #4b4a47;
  height: 150px;
  display: block;
}
.key-features .smart p {
  line-height: 2;
  color: var(--dark-grey-clr);
  max-width: 43ch;
}

.features-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
.features-2 .box {
  padding: 10px;
}
.features-2 .box figure {
  padding: 15px;
  border-radius: 50%;
  width: fit-content;
}
.features-2 .box figure img {
  width: 58px;
  max-width: 100%;
}
.features-2 .box .info {
  margin-top: 20px;
}
.features-2 .box .info h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.features-2 .box .info p {
  line-height: 1.7;
  color: var(--dark-grey-clr);
  max-width: 28ch;
}

.features-2 .red figure {
  background-color: #ffebef;
}

.features-2 .red h3 {
  color: var(--red-color);
}
.features-2 .blue figure {
  background-color: #f3f3ff;
}
.features-2 .blue h3 {
  color: var(--blue-color);
}
.features-2 .green figure {
  background-color: #e3ffed;
}
.features-2 .green h3 {
  color: var(--green-color);
}
.latest-tech {
  display: flex;

  align-items: center;
  gap: 10%;
}
.latest-tech figure {
  flex-basis: 50%;
}
.latest-tech figure img {
  max-width: 100%;
}
.latest-tech .text {
  flex-basis: 40%;
}
.latest-tech h3 {
  color: var(--greyish-blue-clr);
  font-size: 36px;
  margin-bottom: 30px;
  max-width: 18ch;
}
.latest-tech p {
  color: var(--dark-grey-clr);
  line-height: 1.7;
  margin-bottom: 40px;
}
/* End Key Features */
/* Start choose */

.choose {
  padding: 60px 0;
  background-color: white;
  text-align: center;
}
.choose .title {
  color: var(--greyish-blue-clr);
  font-size: 36px;
  margin-bottom: 20px;
  max-width: 20ch;
  margin: 0 auto;
}
.choose .description {
  color: var(--dark-grey-clr);
  line-height: 1.7;
  max-width: 65ch;
  margin: 20px auto 40px;
}
.choose .app-pros {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.choose .wrapper figure {
  padding: 15px;
  border-radius: 50%;
  width: fit-content;
  margin: 0 auto 20px;
}
.choose .wrapper img {
  width: 58px;
  height: 58px;
  max-width: 100%;
}
.choose .text h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--greyish-blue-clr);
}
.choose .text p {
  color: var(--dark-grey-clr);
  max-width: 30ch;
  margin: 0 auto;
}
.choose .design figure {
  background-color: #ffebef;
}
.choose .award figure {
  background-color: #e9f9ff;
}
.choose .cloud figure {
  background-color: #fff5d3;
}
.choose .support figure {
  background-color: #e3ffed;
}
.choose .ui figure {
  background-color: #f3f3ff;
}
.choose .service figure {
  background-color: #fdede3;
}
/* End choose */

/* Start Powerful-features */
.powerful-features {
  padding: 60px 0;
}

.powerful-features .container {
  width: 100%;
  padding-left: 200px;
  padding-right: 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  overflow: hidden;
}

.powerful-features .container > .text {
  grid-column: 1 / 3;
  grid-row: 1/2;
}
.powerful-features .container .text h3 {
  color: var(--greyish-blue-clr);
  font-size: 36px;
  margin-bottom: 30px;
  max-width: 15ch;
}
.powerful-features .container .text p {
  color: var(--dark-grey-clr);
  line-height: 1.7;
  margin-bottom: 40px;
  max-width: 40ch;
}

.powerful-features .container > .wrapper {
  grid-column: 1 / 3;
  grid-row: 2/4;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
}
.powerful-features .box > figure {
  padding: 15px;
  border-radius: 50%;
  width: fit-content;
  margin-bottom: 20px;
}
.powerful-features .web figure {
  background-color: #ffebef;
}
.powerful-features .ui figure {
  background-color: #e3ffed;
}
.powerful-features .comp figure {
  background-color: #fff5d3;
}
.powerful-features .ser figure {
  background-color: #f3f3ff;
}
.powerful-features .box img {
  width: 58px;
  height: 58px;
  max-width: 100%;
}
.powerful-features .box h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--greyish-blue-clr);
  margin-bottom: 10px;
}

.powerful-features .box p {
  font-size: 16;
  font-weight: normal;
  color: var(--dark-grey-clr);
  margin-bottom: 10px;
}
.powerful-features .container > .app-image {
  grid-column: 3 / 5;
  grid-row: 1/5;
  position: relative;
  right: -30px;
}
/* End Powerful-features */
/* Start Pricing */
.pricing {
  padding: 60px 0;
  background-color: #f9fafc;
  border-bottom: 2px solid #e5e5e5;
}
.pricing .container > h3 {
  color: var(--greyish-blue-clr);
  font-size: 2.25rem;
  text-align: center;
  max-width: 29ch;
  margin: 0 auto 20px;
}
.pricing .container > p {
  font-size: 1rem;
  color: var(--dark-grey-clr);
  line-height: 1.7;
  margin: 0 auto 60px;
  text-align: center;
  max-width: 65ch;
}
.pricing .payment-type {
  padding: 2px;
  border: 1px solid var(--dark-grey-clr);
  border-radius: 25px;
  width: fit-content;
  margin: 0 auto 60px;
}
.pricing .payment-type .timing {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1rem;
  color: var(--dark-grey-clr);
}
.pricing .payment-type .timing.active {
  color: white;
  background-color: var(--purple-clr);
}

.pricing-plans {
  display: flex;
  justify-content: center;
  margin: 0 auto 60px;
  gap: 40px;
}
.plan {
  width: 320px;
  height: fit-content;
  overflow: hidden;
  text-align: center;
  border: 1px solid var(--dark-grey-clr);
  border-radius: 6px;
  box-shadow: 2px 4px 20px rgba(37, 99, 255, 13%),
    0px 4px 10px rgba(0, 0, 0, 12%);
}
.plan-head {
  background: linear-gradient(to bottom, transparent, #f4f6f9);

  padding: 20px;
}
.pricing .price {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.pricing .price .currency,
.pricing .price .amount {
  font-size: 60px;
  font-weight: bold;
  color: var(--greyish-blue-clr);
}
.pricing .price .date {
  font-size: 18px;
  color: var(--dark-grey-clr);
  font-weight: 300;
}
.plan h3 {
  font-size: 20px;
  color: var(--greyish-blue-clr);
  font-weight: 700;
}
.plan p {
  color: var(--dark-grey-clr);
}
.plan-body {
  padding: 20px;
  background-color: white;
}
.plan-body li {
  margin-bottom: 20px;
  color: var(--dark-grey-clr);
}
.plan .btn-filled {
  display: block;
  margin: 30px auto 10px;
  width: fit-content;
}
/* End Pricing  */
/* Start Testimonails */
.testimonials {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials > figure {
  flex-basis: 50%;
}
.testimonials .text {
  flex-basis: 50%;
  padding-right: 100px;
}
.testimonials h2,
h3,
h4 {
  font-weight: 700;
  color: var(--greyish-blue-clr);
}
.testimonials h2 {
  font-size: 2rem;
  max-width: 20ch;
  margin-bottom: 20px;
}
.testimonials h3 {
  font-size: 20px;
  margin-bottom: 15px;
}
.testimonials h4 {
  font-size: 18px;
  margin-bottom: 10px;
}
.testimonials p {
  color: var(--dark-grey-clr);
  font-size: 1rem;
  line-height: 1.7;
  margin-bottom: 10px;
  max-width: 55ch;
}
.testimonials .stars {
  margin: 20px 0;
  display: block;
  color: #ffcc00;
}
.user-testimonial {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0;
}
.user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user img {
  width: 80px;
  border-radius: 50%;
}
.user-testimonial .arrows {
  display: flex;
  gap: 10px;
  align-items: center;
}
.user-testimonial .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #dee1e6;
  color: #dee1e6;
}
.user-testimonial .arrow.active {
  color: var(--purple-clr);
  background-color: #eff3f8;
}
.user-testimonial .arrow i {
  font-size: 20px;
}
.user-testimonial span {
  height: 20px;
  width: 2px;
  background-color: #dee1e6;
}
/* End Testimonails */
/* Start FAQ */

.faq {
  padding: 60px 0;
  text-align: center;
}
.faq h3 {
  color: var(--greyish-blue-clr);
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
}
.faq > * > p {
  color: var(--dark-grey-clr);
  font-size: 1rem;
  line-height: 1.7;
  max-width: 65ch;
  margin: 0 auto 10px;
}
.faq .questions {
  margin: 60px auto;
  width: 700px;
}
.faq .question {
  padding: 20px 40px;
  max-width: 100%;
  text-align: start;
  margin: 10px auto;
  background-color: #f5f7fa;
}
.faq .question-holder {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.faq .question h3 {
  font-size: 18px;
  color: var(--greyish-blue-clr);
  font-weight: bold;
}
.faq .question i {
  font-size: 18px;
  color: var(--greyish-blue-clr);
}

.faq .question p {
  color: var(--dark-grey-clr);
  font-size: 16px;
  line-height: 1.6;
}
.answer-hidden {
  display: none;
  transition: 300ms;
}
.answer-viewed {
  display: block;
  transition: 300ms;
}
/* End FAQ */
/* Start Download Section */
.download {
  padding: 60px 0;
  background-image: url(/images/download-app.svg);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: right;
  border-top: 2px solid #dee1e6;
}
.download h3 {
  font-size: 2rem;
  color: var(--greyish-blue-clr);
  margin-bottom: 20px;
  font-weight: 700;
}
.download p {
  color: var(--dark-grey-clr);
  max-width: 65ch;
  margin-bottom: 20px;
}
.download-store {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}
/* End Download Section */
/* Start Footer */
.footer {
  padding: 60px 0;
  background-color: #09132d;
  text-align: center;
}

.footer img {
  width: fit-content;
  max-width: 100%;
  margin: 0 auto 30px;
}
.footer nav {
  margin: 40px auto;
}
.footer nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer li a {
  margin: 0 20px;
  color: white;
}
footer .social-links {
  margin: 0 auto 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer .social-links a {
  color: white;
}
footer p {
  color: var(--dark-grey-clr);
  line-height: 1.7;
  margin-bottom: 20px;
}
footer span {
  font-weight: 500;
  color: var(--red-color);
}
/* End Footer */
