/* Start Vars */
:root {
  --purple-clr: #2500f9;
  --greyish-blue-clr: #242f51;
  --light-clr: #e1eaed;
  --orange-clr: #fda925;
  --text-clr: #616368;
  --red-color: #f55767;
  --blue-color: #2563ff;
  --green-color: #40975f;
  --red-bg: #ffebef;
  --blue-bg: #f3f3ff;
  --green-bg: #e3ffed;
  --yellow-bg: #fff5d3;
  --cayan-bg: #e9f9ff;
  --orange-bg: #fdede3;
  --main-transition: 350ms;
  --section-padding: 60px;
}
/* End Vars */
/* Start Global Ruels */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 1200px) {
  .container {
    width: 80%;
  }
}
@media (max-width: 991px) {
  .container {
    width: 85%;
  }
}
@media (max-width: 767px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 540px) {
  .container {
    width: 95%;
  }
}
@media (max-width: 400px) {
  .container {
    width: 97%;
  }
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
  color: var(--greyish-blue-clr);
}
h1 {
  font-size: 60px;
  margin-bottom: 25px;
}
h2 {
  font-size: 36px;
  margin-bottom: 20px;
}
h3 {
  font-size: 20px;
  margin-bottom: 15px;
}
h4 {
  font-size: 18px;
  margin-bottom: 12px;
}
@media (max-width: 991px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 28px;
  }
}
@media (max-width: 540px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 19px;
  }
  h4 {
    font-size: 17px;
  }
}
p {
  color: var(--text-clr);
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 10px;
}

/* End Global Ruels */

/* Start Components */

.btn {
  font-size: 1rem;
  color: var(--purple-clr);
  display: inline-block;
  transition: var(--main-transition);
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;
  z-index: 10;
}
.btn-filled {
  color: white;
  background-color: var(--purple-clr);
  border-radius: 20px;
}
.img-bg {
  padding: 15px;
  border-radius: 100%;
  width: fit-content;
  height: fit-content;
}
.img-bg > img {
  width: 58px;
  height: 58px;
  max-width: 100%;
}
.red > figure {
  background-color: var(--red-bg);
}
.blue > figure {
  background-color: var(--blue-bg);
}
.green > figure {
  background-color: var(--green-bg);
}
.yellow > figure {
  background-color: var(--yellow-bg);
}
.cayan > figure {
  background-color: var(--cayan-bg);
}
.orange > figure {
  background-color: var(--orange-bg);
}

/* End Components */
/* Start Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .brand {
  width: fit-content;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  display: flex;

  align-items: center;
}
header ul {
  display: flex;
  align-items: center;
}

header ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  font-size: 1rem;
  color: #242f51;
  font-weight: 500;
}
@media (max-width: 991px) {
  header ul {
    position: fixed;
    flex-direction: column;
    right: 0;
    top: 70px;
    z-index: 100;
    width: 300px;
    background: white;
    height: 100vh;
    padding: 50px 0;
    justify-content: unset;
    box-shadow: -10px 0 10px 1px rgba(36, 47, 81, 0.116);
    transition: var(--main-transition);
  }
}
header ul[aria-expanded="false"] {
  right: -100%;
}
header ul[aria-expanded="true"] {
  right: 0;
}
@media (max-width: 991px) {
  header ul a {
    color: var(--greyish-blue-clr);

    font-weight: bold;
  }
}
.mobile-menu {
  cursor: pointer;
}
@media (min-width: 992px) {
  .mobile-menu {
    display: none;
  }
}
header a.btn {
  margin-right: 10px;
}

@media (min-width: 541px) {
  header ul .m-only {
    display: none;
  }
}
@media (max-width: 540px) {
  header a.btn {
    display: none;
  }
  header ul .m-only {
    display: inline-flex;
    padding: 10px 40px;
    height: fit-content;
    margin: 0;
  }
}

/* End Header */
/* Start Hero */
.hero {
  position: relative;

  padding: calc(var(--section-padding) + 60px) 0 60px;
  background-color: #f9fafc;
}
.shapes-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  z-index: -1;
}
.shapes-2 {
  position: absolute;
  top: 0;
  width: auto;
  height: 100%;
  right: 0;
  z-index: -1;
}
.hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(./images/hero_bottom.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  width: 100%;
  height: 150px;
}
.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991px) {
  .hero .container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .hero .container h1 {
    font-size: 3rem;
  }
}
@media (max-width: 540px) {
  .hero .container h1 {
    font-size: 2.25rem;
  }
}
.hero .container p {
  max-width: 60ch;
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .hero .container p {
    margin: 0 auto 40px;
  }
}
.hero .container .editor-choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e1eaed;
  width: fit-content;
  padding: 5px 40px;
  border-radius: 20px;
  position: relative;
  margin-bottom: 24px;
}
@media (max-width: 991px) {
  .hero .container .editor-choice {
    margin: 0 auto 25px;
  }
}
@media (max-width: 540px) {
  .hero .container .editor-choice {
    width: 100%;
    padding-right: 10px;
    padding-left: 32px;
  }
}
.hero .container .editor-choice span {
  font-size: 1rem;
}
@media (max-width: 540px) {
  .hero .container .editor-choice span {
    font-size: 15px;
  }
}
.hero .container .editor-choice img {
  position: absolute;
  left: 0;
  background-color: var(--orange-clr);
  border-radius: 20px;
  border: 8px solid var(--orange-clr);
  width: 32px;
}

.hero .container .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .hero .container .image {
    order: -1;
  }
}
.trusted-by {
  text-align: center;
  margin: 100px 0 0;
}
@media (max-width: 991px) {
  .trusted-by {
    margin-top: 60px;
  }
}
.trusted-by p {
  margin-bottom: 50px;
}
.trusted-by .wraper {
  padding: 30px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

/* End Hero */

/* Start Key Features */

.key-features {
  padding: var(--section-padding) 0;
  border-bottom: 2px solid #e5e5e5;
}

.key-features .features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 10px 20px;
}
@media (max-width: 991px) {
  .key-features .features {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
.key-features .app-img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
@media (max-width: 991px) {
  .key-features .app-img {
    display: none;
    grid-column: auto;
    grid-template-rows: auto;
  }
}
.key-features .app-img {
  max-width: 100%;
}
.key-features .features-info {
  grid-column: 2/3;
  grid-row: 1/2;
}
@media (max-width: 991px) {
  .key-features .features-info {
    grid-column: 1;
    grid-row: span;
    margin-bottom: 40px;
  }
}
.key-features .features-info p {
  max-width: 43ch;
}
@media (max-width: 991px) {
  .key-features .features-info p {
    margin: 0 auto;
  }
}
.key-features .features-keys {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .key-features .features-keys {
    grid-column: auto;
    grid-row: auto;
  }
}
.key-features .features-keys .box {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .key-features .features-keys .box {
    flex-direction: column;
  }
}
.key-features .features-keys .box figure {
  margin-right: 30px;
  min-width: 80px;
}
@media (max-width: 991px) {
  .key-features .features-keys .box figure {
    margin: 0 0 20px;
  }
}

.key-features .red h3 {
  color: var(--red-color);
}

.key-features .blue h3 {
  color: var(--blue-color);
}

.key-features .green h3 {
  color: var(--green-color);
}

.key-features .smart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
@media (max-width: 991px) {
  .key-features .smart {
    flex-direction: column;
  }
}
.key-features .smart h2 {
  max-width: 17ch;
}

@media (max-width: 991px) {
  .key-features .smart h2 {
    font-size: 1.75rem;
    max-width: 28ch;
    margin: 0 auto 30px;
    text-align: center;
  }
}
.key-features .smart .separator {
  width: 2px;
  background-color: #e5e5e5;
  height: 150px;
  display: block;
}
@media (max-width: 991px) {
  .key-features .smart .separator {
    width: 70%;
    height: 2px;
    margin-bottom: 20px;
  }
}
.key-features .smart p {
  max-width: 43ch;
}
@media (max-width: 991px) {
  .key-features .smart p {
    text-align: center;
    margin: auto;
  }
}

/* End key-features */

/* Start Features Section 2 */
.features-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  flex-wrap: wrap;
  text-align: center;
}
.features-2 figure {
  margin: 0 auto;
}

.features-2 .box {
  padding: 10px;
}

.features-2 .box .info {
  margin-top: 20px;
}

.features-2 .box .info p {
  max-width: 28ch;
}

.features-2 .red h3 {
  color: var(--red-color);
}

.features-2 .blue h3 {
  color: var(--blue-color);
}

.features-2 .green h3 {
  color: var(--green-color);
}
.latest-tech {
  display: flex;

  align-items: center;
  gap: 10%;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .latest-tech {
    text-align: center;

    gap: 20px;
  }
}
.latest-tech figure {
  flex-basis: 50%;
}
.latest-tech figure img {
  max-width: 100%;
}
.latest-tech .text {
  flex-basis: 40%;
}
@media (max-width: 991px) {
  .latest-tech figure {
    flex-basis: 100%;
  }
  .latest-tech .text {
    flex-basis: 100%;
  }
}
.latest-tech h3 {
  max-width: 18ch;
}
.latest-tech p {
  margin-bottom: 40px;
}
/* End Features Section 2 */
/* Start choose */

.choose {
  padding: var(--section-padding) 0;
  background-color: white;
  text-align: center;
}
.choose .title {
  color: var(--greyish-blue-clr);
  font-size: 36px;
  margin-bottom: 20px;
  max-width: 20ch;
  margin: 0 auto;
}
.choose .description {
  color: var(--text-clr);
  line-height: 1.7;
  max-width: 65ch;
  margin: 20px auto 40px;
}
.choose .app-pros {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
@media (max-width: 767px) {
  .choose .app-pros {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
.choose .wrapper figure {
  margin: 0 auto 20px;
}

.choose .text p {
  max-width: 30ch;
  margin: 0 auto;
}

/* End choose */

/* Start Powerful-features */
.powerful-features {
  padding: var(--section-padding) 0;
}

.powerful-features .container {
  width: 100%;
  padding-left: 200px;
  padding-right: 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  overflow: hidden;
}
@media (max-width: 991px) {
  .powerful-features .container {
    padding-left: 0;
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.powerful-features .container > .text {
  grid-column: 1 / 3;
  grid-row: 1/2;
}
@media (max-width: 991px) {
  .powerful-features .container > .text {
    grid-column: 1;
    grid-row: 1;
  }
}
.powerful-features .container .text h3 {
  margin-bottom: 30px;
  max-width: 15ch;
}
.powerful-features .container .text p {
  margin-bottom: 40px;
  max-width: 40ch;
}
@media (max-width: 991px) {
  .powerful-features .container .text p {
    margin-inline: auto;
  }
}
.powerful-features .container > .wrapper {
  grid-column: 1 / 3;
  grid-row: 2/4;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
}
@media (max-width: 991px) {
  .powerful-features .container > .wrapper {
    grid-column: 1;
    grid-row: 3;
    margin-top: 40px;
  }
}
.powerful-features .box > figure {
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .powerful-features .box > figure {
    margin-inline: auto;
  }
}

.powerful-features .container > .app-image {
  grid-column: 3 / 5;
  grid-row: 1/5;
  position: relative;
  right: -30px;
}
@media (max-width: 991px) {
  .powerful-features .container > .app-image {
    grid-column: 1;
    grid-row: 2;
  }
}
/* End Powerful-features */
/* Start Pricing */
.pricing {
  padding: var(--section-padding) 0;
  background-color: #f9fafc;
  border-bottom: 2px solid #e5e5e5;
}
.pricing .container > h2 {
  text-align: center;
  max-width: 29ch;
  margin: 0 auto 20px;
}
.pricing .container > p {
  margin: 0 auto 60px;
  text-align: center;
  max-width: 65ch;
}
.pricing .payment-type {
  padding: 2px;
  border: 1px solid var(--text-clr);
  border-radius: 25px;
  width: fit-content;
  margin: 0 auto 60px;
}
.pricing .payment-type .timing {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1rem;
  color: var(--text-clr);
}
.pricing .payment-type .timing.active {
  color: white;
  background-color: var(--purple-clr);
}

.pricing-plans {
  display: flex;
  justify-content: center;
  margin: 0 auto 60px;
  gap: 40px;
  flex-wrap: wrap;
}
.plan {
  width: 320px;
  height: fit-content;
  overflow: hidden;
  text-align: center;
  border: 1px solid var(--text-clr);
  border-radius: 6px;
  box-shadow: 2px 4px 20px rgba(37, 99, 255, 13%),
    0px 4px 10px rgba(0, 0, 0, 12%);
}
.plan-head {
  background: linear-gradient(to bottom, transparent, #f4f6f9);

  padding: 20px;
}
.pricing .price {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.pricing .price .currency,
.pricing .price .amount {
  font-size: 60px;
  font-weight: bold;
  color: var(--greyish-blue-clr);
}
.pricing .price .date {
  font-size: 18px;
  color: var(--text-clr);
  font-weight: 300;
}

.plan-body {
  padding: 20px;
  background-color: white;
}
.plan-body li {
  margin-bottom: 20px;
  color: var(--text-clr);
}
.plan .btn-filled {
  display: block;
  margin: 30px auto 10px;
  width: fit-content;
}
/* End Pricing  */
/* Start Testimonails */
.testimonials {
  padding: var(--section-padding) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.testimonials > figure {
  flex-basis: 50%;
}
.testimonials .text {
  flex-basis: 50%;
  padding-right: 100px;
}
@media (max-width: 991px) {
  .testimonials .text {
    flex-basis: 100%;

    text-align: center;
    padding: 40px 30px;
    order: 1;
  }
  .testimonials .text h2 {
    margin-inline: auto;
  }
  .testimonials .text p {
    margin-inline: auto;
  }
  .testimonials > figure {
    flex-basis: 100%;
    order: 2;
  }
}
.testimonials h2 {
  max-width: 20ch;
}
.testimonials p {
  max-width: 55ch;
}
.testimonials .stars {
  margin: 20px 0;
  display: block;
  color: #ffcc00;
}
.user-testimonial {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0;
}
.user {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.user img {
  width: 80px;
  border-radius: 50%;
}
.user-testimonial .arrows {
  display: flex;
  gap: 10px;
  align-items: center;
}
.user-testimonial .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #dee1e6;
  color: #dee1e6;
}
.user-testimonial .arrow.active {
  color: var(--purple-clr);
  background-color: #eff3f8;
}
.user-testimonial .arrow i {
  font-size: 20px;
}
.user-testimonial span {
  height: 20px;
  width: 2px;
  background-color: #dee1e6;
}
/* End Testimonails */
/* Start FAQ */

.faq {
  padding: 60px 0;
  text-align: center;
}

.faq > * > p {
  max-width: 65ch;
  margin: 0 auto 10px;
}
.faq .questions {
  margin: 60px auto;
  width: 700px;
  max-width: 100%;
}

.faq .question {
  padding: 20px 40px;
  max-width: 100%;
  text-align: start;
  margin: 10px auto;
  background-color: #f5f7fa;
}
.faq .question-holder {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.faq .question i {
  font-size: 18px;
  color: var(--greyish-blue-clr);
}

.answer-hidden {
  display: none;
}
.answer-viewed {
  display: block;
}
/* End FAQ */
/* Start Download Section */
.download {
  padding: var(--section-padding) 0;
  background-image: url(/images/download-app.svg);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: right;
  border-top: 2px solid #dee1e6;
}
@media (max-width: 767px) {
  .download {
    background-image: none;
  }
}
.download p {
  max-width: 65ch;
}
.download-store {
  margin-top: 50px;
  display: flex;
  align-items: center;

  gap: 30px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .download-store {
    justify-content: center;
  }
}
/* End Download Section */
/* Start Footer */
.footer {
  padding: var(--section-padding) 0;
  background-color: #09132d;
  text-align: center;
}

.footer img {
  width: fit-content;
  max-width: 100%;
  margin: 0 auto 30px;
}
.footer nav {
  margin: 40px auto;
}
.footer nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 540px) {
  .footer nav ul {
    flex-direction: column;
  }
}
.footer li a {
  margin: 0 20px;
  color: white;
}
@media (max-width: 540px) {
  .footer li a {
    display: block;
    margin: 20px auto;
  }
}
footer .social-links {
  margin: 0 auto 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer .social-links a {
  color: white;
}
footer p {
  margin-bottom: 20px;
}
footer span {
  font-weight: 500;
  color: var(--red-color);
}
/* End Footer */
